
MotherFroggers/UserSettings/
MotherFroggers/Logs/
MotherFroggers/Library/
MotherFroggers/Temp/
MotherFroggers/.vs/
MotherFroggers/obj/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.sln
